@import "tailwindcss";
@plugin "daisyui" {
    themes: iracing --default;
}

@theme {
    --font-iracing: "iracing";
    --font-square: "iracing-square";
}

@layer base {
    [data-theme="iracing"] {
        --color-primary: #ededed;
        --color-primary-content: #141414;
        --color-secondary: #f1b228;
        --color-secondary-content: #282828;
        --color-accent: #e79122;
        --color-accent-content: #130700;
        --color-neutral: #ededed;
        --color-neutral-content: #141414;
        --color-base-100: #ffffff;
        --color-base-200: #dedede;
        --color-base-300: #bebebe;
        --color-base-content: #161616;
        --color-info: #00c7db;
        --color-info-content: #000e11;
        --color-success: #4def6f;
        --color-success-content: #021404;
        --color-warning: #f44819;
        --color-warning-content: #140200;
        --color-error: #dd0720;
        --color-error-content: #ffd7d3;
    }
}

:root {
    font-family: iracing;
    overflow-y: hidden;
    overflow-x: hidden;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: "iracing";
    font-display: block;
    src: url("/fonts/iracing.otf");
}

@font-face {
    font-family: "iracing-square";
    font-display: block;
    src: url("/fonts/iracing-square.ttf");
}

.scale-container {
    position: relative;
}

.drag-region {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.drag-region-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
