@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: RobotoCondensed;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-text-stroke-width: 0.15px;
    -webkit-text-stroke-color: darkorange;
}

@font-face {
    font-family: "RobotoCondensed";
    font-display: swap;
    src: url("/fonts/RobotoCondensed-Regular.ttf");
}
